@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Vibur&display=swap');
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Philosopher';

  background: linear-gradient(#515151, #484848, #4f5355) ;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
